/*#3f51b5;*/

:root {
  --main: #3f51b5;
  --main_font:white;
  --secondary: teal;
  --contrast_color: dimgray;
  
}

#leftZone .container{
  background-color: var(--contrast_color);
  
}
#midZone .container{
  background-color: var(--secondary);
  color: var(--main_font);
}
#rightZone .container{

  background-color: var(--main);
}

nav,
#mainForm,
#botonera,
form .container,
nav .container,
#step-by-step,
#komaInfoContainer,

#selectorsContainer,
#contenedorForm,
#sampleForm .accordion-body .container{
  background: none ;
}

#profileSamples a{
  color: var(--main_font) !important;
  text-decoration: none !important;
}
header,
#registerFormCard,
.card,
#sampleForm .accordion-body,
.card form{
  color:var(--main_font);
  background-color: var(--main) !important;
}

#selectorsContainer label,
nav label,
#komaInfoContainer h2,
#komaInfoContainer h3{
  color: var(--main_font);
}

text{
  fill: var(--main_font);
}

h3,
#sampleForm .accordion-button{
  background-color: var(--contrast_color);
  color: var(--main_font);
}


footer{
  background-color: var(--secondary);
  color: var(--main_font);
  min-height: 5dvh;
}
main{
  background-image: url("https://bioinfo.uib.es/halophile/static/src/img/background.jpg");
  background-size: cover;
}
main .container{
  background-color: var(--main_font);
}

.projectCard{
    background-color: var(--contrast_color) !important;
    cursor: pointer; /* Cambia el cursor al de un enlace */
}
.projectCard .card-footer{
  background-color: var(--secondary);
}

.addButon{
  background-color: var(--secondary);
  border-radius: 10rem;
  
}


.modal-header{
  min-height: 10dvh; 
  margin-bottom: 2rem; 
}

.modal-body{
  max-height: 50dvh; 

  padding-right: 1rem; 
}

.stepContainer{
  min-height: 10dvh; 
  margin: 4rem; 
  max-height: 50dvh; 
  overflow-y: auto;
  padding-right: 1rem; 

}

.stepSelect{
  margin-bottom: 4rem; 
}

.plasmidContainer{
  background-color: #9900cc !important;
}

.plasmidLetter{
  color: #ffffff;
}