{% extends "master.html" %}
{% load static %} 
{% block title %}
 HaloFiles Searcher 
 {% endblock %} 
{% block content %}
<main id="filter" style="height: 100dvh;">
 <!-- Botón para abrir el offcanvas -->
  <div id="textFilterContainer" class="container pt-3 d-flex justify-content-between align-items-center" style="background: none;">
    <!-- Barra de búsqueda centrada -->
    <div class="search-bar px-1 w-100">
      <input type="text" class="form-control" id="searchInput" placeholder="Search by ID or Sample name">
    </div>
    <button class="btn btn-success" type="button">
      Search
    </button>
  </div>

  <!-- Offcanvas izquierdo -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="filterOffcanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Filtros</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container">

      </div>
      <div class="accordion" id="filterAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              Categoría
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="d-flex justify-content-between">
                <button type="button" id="aplyFilter" class="btn btn-secondary">
                  Clear Filter
                </button> 
                <button type="button" id="aplyFilter" class="btn btn-success fixed">
                  Apply Filter
                </button>
              </div>
              <div class="row row-cols-md-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container p-3" style="background: none;">
      <h3 class="text-center">Kind of Material Summary</h3>
    </div>
    <div id="results" class="container d-flex pt-4 pb-5" style="background: none;">
      <div class="d-flex row justify-content-around row-cols-md-4 g-1 pb-5 h-100"></div>
    </div>
  </section>

  <section class="pb-5">
    <div class="container p-3" style="background: none;">
      <h3 class="text-center"> Founded List</h3>
    </div>
    <div class="container d-flex" style="background: none;">
      <ul id="elementList" class="list-group w-100">

      </ul>
    </div>
  </section>

</main>
 {% endblock %} 