{% extends "master.html" %}
{% load static%}
    {% block title %}
      HaloFile Experiments Forms 
    {% endblock %}

  {% block content %}

  <nav>
    <div class="container mt-4">
      <label for="sourceId">Source:</label>
      <select id="sourceId" name="sampleId" class="form-select">
        <!--Each option is user's samples name-->
      </select>
    </div>
  </nav>
  <main>
    <div id="step-by-step" class="container d-flex justify-content-between mt-4"></div>
    <div
      class="container d-flex flex-column justify-content-center align-items-center mt-4"
    >
      <h2 id="Etapa">Sample</h2>
      <h3 id="komaLabel" data-selected="0">Kind of material:</h3>
    </div>

    <div id="contenedorForm" class="container mt-4">
      <form id="mainForm" class="container">
        <div id="cardForm" class="card p-3">
          <!-- Data Fields-->
        </div>


          <div class="container d-flex justify-content-between mt-2">
            <div class="container d-flex justify-content-start">
              <button id="goBack" type="button" class="btn btn-secondary" 
                      style="visibility: hidden">
                <i class="bi bi-arrow-left"></i> Go back
              </button>
              <button id="saveBtn" type="button" class="btn btn-success">
                Save <i class="bi bi-floppy"></i>
            </button>
            </div>
            <div class="container d-flex justify-content-end">
              <button class="btn btn-primary m-1">Save & Next Step</button>
              <button type="submit" id="submit" class="btn btn-secondary m-1">
                Next Step <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>


      </form>
    </div>
  </main>

  {% endblock %}
</html>
