{% extends "master.html" %}
{% load static%}
    {% block title %}
      HaloFile Experiments Forms 
    {% endblock %}

  {% block content %}


  <main id="forms">
    <div id="step-by-step" class="container d-flex justify-content-between">
      <!--Add Steps Dynamically-->
    </div>
    <div id="komaInfoContainer" class="container d-flex flex-column justify-content-center align-items-center">
      <h2 id="Etapa">Sample</h2>
      <h2 id="komaLabel" data-selected="0">Kind of material:</h2>
    </div>
    <div class="container p-5" style="background: none;">
      <div id="sourceSelectors" class="row row-cols-md-5" style="color: white;">
        <div class="col">
          <label for="sourceSample">Sample:</label>
          <select id="sourceSample" name="sampleId" class="form-select"></select>
        </div>
      </div>
    </div>


    <div id="contenedorForm" class="container">
      <form id="mainForm" class="container">
        <div id="cardForm" class="card p-3">
          <!-- Data Fields-->
        </div>
          <div id="botonera" class="row row-cols-md-3 g-2 w-100 pb-5 pt-2">
            <div class="col">
            <button id="goBack" type="button" class="btn btn-secondary w-100" 
                    style="visibility: hidden">
              <i class="bi bi-arrow-left"></i> Go back
            </button>
            </div>
            <div class="col">
            <button id="saveBtn" type="button" class="btn btn-success w-100">
                Save <i class="bi bi-floppy"></i>
            </button>
            </div>

            <div class="col">
              <button type="submit" id="submit" class="btn btn-secondary w-100">
                  Next<i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
      </form>
    </div>
  </main>

  {% endblock %}
</html>
