{% extends "master.html" %} {% block title %} HaloFiles- Main Page {% endblock %} 
{% load static %}
{% block content %}
    <main id="index">
      <div class="container d-flex justify-content-end" style="background: none;">
        <button id="helpBtn" class="btn btn-dark">Page guide 
          <i class="bi bi-question-square-fill"></i>
        </button>
      </div>
      <section id="Searcher" class="p-2">
        <div class="container flex-column justify-content-center" style="background: none;">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-describedby="Search">
            <div class="input-group-append">
              <button class="input-group-text btn-primary" id="Search" type="button"> 
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <div class="container d-flex justify-content-center" style="background: none;">
            <a id="advancedSearch" class="btn btn-success m-1" href="{% url 'filter' %}">Advanced Search</a>  
          </div>    
        </div>
      </section>

      <section id="Introduction" >
        <div class="container d-flex flex-column p-3 mb-3" style="border-radius: 1rem;">
          <h2 class="text-center">Welcome to HaloFiles</h2>
          <p class="m-3">
            Discover a comprehensive collection of microorganisms thriving in 
            environments with fluctuating salinity. Our database provides researchers,
            scientists, and enthusiasts with an intuitive interface to explore, analyze,
            and compare microbial data. Whether you're studying adaptation mechanisms,
            searching for biotechnological applications, or simply exploring the 
            diversity of extremophiles, our platform offers reliable and up-to-date
            information. 
          </p>
          <p class="m-3">
            Start exploring today and unlock the secrets of microbial life in variable
            salinity conditions!
          </p>
        </div>
      </section>

      <section id="Functions">
        <div class="container mb-3" style="border-radius: 1rem;">
          <div class="container d-flex justify-content-center" >
            <h2>What can I do in HaloFiles?</h2>
          </div>
          <div class="container d-flex justify-content-start p-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="badge bg-primary m-2">1</span>Look up any published data using multiple and sofistifaced filter</li>
              <li class="list-group-item"><span class="badge bg-primary m-2">2</span>Upload your own projects and published them for share your knowledge!</li>
              <li class="list-group-item"><span class="badge bg-primary m-2">3</span>Reuse your Data whenever you need. Same Sample but different experiments? Just save and change 1 field and go ahead!</li>
              <li class="list-group-item"><span class="badge bg-primary m-2">4</span>Wanna share project information only with your investigation group? Also avalibable in HaloFiles!</li>
            </ul>
          </div>
        </div>
        
      </section>

      <section id="Help" class="pb-5">
        <div class="container pt-3" style="border-radius: 1rem;">
          <div class="container d-flex justify-content-center">
            <h2>I need some help!</h2>
          </div>
          <div class="container d-flex justify-content-start">
            <p class="">
              If you don't remember something or it's your first time in HaloFiles, you 
              can check here the <a href="#">Documentation</a> and also you can take a look
              this <a href="#">Example Videos</a> 
            </p>
          </div>
        </div>
      </section>
      <div style="min-height: 1rem;"></div>
      <script> document.addEventListener("DOMContentLoaded",localStorage.clear())</script>
    </main>

{% endblock %}
