{% extends "master.html" %}
{% load static%}
    {% block title %}
      HaloFile Experiments Forms 
    {% endblock %}

  {% block content %}
    
    <main id="infoDisplay" style="height: 100%;">
      <div class="container d-flex justify-content-end" style="background: none;">
        <button id="helpBtn" class="btn btn-dark">Page guide 
          <i class="bi bi-question-square-fill"></i>
        </button>
      </div>

        <div class="container d-flex" style="background: none;">
            <section id="leftZone" class="p-2" style="width: 25dvw;">
                <div id="metaInfo" class="container w-100" style="background-color:cadetblue; height: 55dvh; overflow-y: auto; border-radius: 1rem; border-color: black;">
                    <h2 class="d-flex justify-content-center">System Data</h2>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <div class="d-flex justify-content-between">
                                <div>
                                    Public?: <span id="public" style="color: green; font-weight: bold; ">Yes</span>
                                </div>
                                <button id="publishBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden>
                                    Publish
                                </button>
                            </div>
                        </li>
                        <li class="list-group-item">Owner: <span id="owned" style="font-weight: bold;">User</span></li>
                        <li class="list-group-item">Date of creation:<br> <span id="created" style="font-weight: bold;">Yes</span></li>
                        <li class="list-group-item" hidden>Last Update: <span id="updated" style="font-weight: bold;">Yes</span></li>
                    </ul>
                </div>
                <div id="dataShow" class="pt-3">
                    <div id="map" style="height: 25dvh; border-radius: 1rem;"></div>
                </div>
            </section>
            <section id="midZone" class="w-100 h-100 p-2">
                <div id="dataShow" class="container w-100" style=" height: 83dvh; overflow-y: auto; border-radius: 1dvw;">
                    <div class="d-flex justify-content-center">
                        <h2><span>Step</span> information</h2>
                    </div>
                    <div class="row row-cols-md-3" id="stepDataContainer">

                    </div>

                    <div class="container d-flex justify-content-between mt-2">
                    <button id="expBtn"class="btn btn-primary">
                            Use for Experiments
                    </button>
                    <button id="saveBtn"class="btn btn-success" hidden>Save</button>
                    <button id="editBtn" class="btn btn-secondary mr-2" hidden>
                        Edit <i class="bi bi-pencil-square"></i>
                    </button>
                    </div>
                </div>
            </section>
        <section id="rightZone">
            <div id="appendNodes" class="container w-100 mt-2 mb-3 pt-1" style="max-height: 50dvh;height: 40dvh; border-radius: 1dvw;">
                <h2 class="d-flex justify-content-center">Experiments</h2>
                <ul class="list-group" style="overflow-y: auto;max-height: 30dvh;">
                    <!--Insert link to load next steps data-->
                </ul>
            </div>
            <div id="appendParentNodes" class="container w-100 pt-1" style="height: 40dvh; border-radius: 1dvw;">
                <h2 class="d-flex justify-content-center">Parent Nodes</h2>
                <ul class="list-group" style="overflow-y: auto;max-height: 30dvh;">
                    <!--Insert link to load next steps data-->
                </ul>
            </div>
            
        </section>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            <strong>After publish, you can't modify this information!</strong>
                        </div>
                        <div>
                            <label for="addNotice">Wanna add an already published article to this sample?</label>
                            <input type="checkbox" id="addNotice">
                        </div>
                        <div id="doiCont" class="col-4">
                            <div class="input-group">
                                <button class="btn btn-primary" type="button" id="addDOIButton">Add</button>
                                <input type="text" class="form-control" id="doi" placeholder="Insert article DOI" aria-label="DOI input">
                            </div>
                        </div>
                        <ul>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        </div>
        
    </main>
    {% endblock %}
