{% load static%}
<!DOCTYPE html>
<html>
  <head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="{% static 'JS/BASIC/global.js' %}"></script>
    <script src="{% static 'JS/BASIC/goBack.js' %}"></script>
  
    <!--<script src="{% static 'JS/EXPERIMENT_FORM/showHideInputs.js'}"></script>-->
  
    <script src="{% static 'JS/SVG/AddStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/RemoveStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/UpdateColor.js' '%}"></script>
    <script src="{% static 'JS/SVG/DeleteSteps.js' '%}"></script>
  
    <script src="{% static 'JS/UPDATE_FORM/getKomaForms.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/LoadNextForm.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/FormEventManagement.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/LocalStoreData.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/UpdateStep.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/changeCardBG.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/detectKomaChanges.js' '%}"></script>

    <script src="{% static 'JS/SUMMARY/LoadSummary.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateNavItems.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateSummaryRow.js' %}"></script>
  </body>
</html>