{% load static%}
<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'src/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} 
    <!-- Bootstrap Icons CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="height: 100%;">
    <header>
      <div class="container d-flex justify-content-between  align-items-center">
        <a href="{% url 'main' %}">
          <img src="{% static 'src/img/icon.png' %}" style="max-width: 5dvw;" class="p-1">
        </a>
        
        <h1>HaloPhile Main Page</h1>
        <a class="btn btn-light" href="{% url 'login' %}">Log In</a>
      </div>
    </header>
    {% block content %} {% endblock %}

    <footer class="d-flex flex-wrap border-top fixed-bottom">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <strong>&copy; 2025 Created by: Miquel Àngel Montero Pazmiño</strong>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
    
    <script src="{% static 'JS/BASIC/global.js' %}"></script>
    <script src="{% static 'JS/BASIC/init.js' %}"></script>
    <script src="{% static 'JS/BASIC/generatePath.js' %}"></script>
    <script src="{% static 'JS/BASIC/generateModal.js' %}"></script>

    <script src="{% static 'JS/DATA/fetchOperations.js' %}"></script>
    <script src="{% static 'JS/DATA/uploadOperation.js' %}"></script>
    <script src="{% static 'JS/DATA/prepareBodyRequest.js' '%}"></script>

    <script src="{% static 'JS/FORMS_BEHAVIOUR/FormEventManagement.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/completedSequence.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/getFileName.js'%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/isLastChanges.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/setFormsEnv.js'%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/setSampleSelector.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/goBack.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/configureSaveModal.js' '%}"></script>

    <script src="{% static 'JS/INFO_DISPLAY/mapBehaivour.js' '%}"></script>
    <script src="{% static 'JS/INFO_DISPLAY/showConcretData.js' '%}"></script>
    <script src="{% static 'JS/INFO_DISPLAY/showLeafNodes.js' '%}"></script>

    <script src="{% static 'JS/LS/RecoverFieldsData.js' '%}"></script>
    <script src="{% static 'JS/LS/LocalStoreData.js' '%}"></script>
    <script src="{% static 'JS/LS/removeSteps.js' '%}"></script>
    <script src="{% static 'JS/LS/restartLS.js' '%}"></script>


    <script src="{% static 'JS/PROFILE/loadProfileData.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/fillSampleCard.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/addSampleCards.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/generateModalButtons.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/loadUserKomaData.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/updateCardData.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/fillDataContainer.js' '%}"></script>
    <script src="{% static 'JS/PROFILE/fillStepData.js' '%}"></script>
    

    <script src="{% static 'JS/SUMMARY/LoadSummary.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateNavItems.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateSummaryRow.js' %}"></script>
  
    <script src="{% static 'JS/SVG/AddStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/configureSVG.js' '%}"></script>
    <script src="{% static 'JS/SVG/RemoveStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/UpdateColor.js' '%}"></script>
    <script src="{% static 'JS/SVG/DeleteSteps.js' '%}"></script>
  
    <script src="{% static 'JS/SAMPLE/configureModal.js' '%}"></script>
    <script src="{% static 'JS/SAMPLE/generateKomaModalBody.js' '%}"></script>
    <script src="{% static 'JS/SAMPLE/initSample.js' '%}"></script>

    <script src="{% static 'JS/UPDATE_FORM/LoadNextForm.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/detectKomaChanges.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/getSelectItems.js' %}"></script>
    <script src="{% static 'JS/UPDATE_FORM/hiddenFields.js' %}"></script>

  </body>
</html>