{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'src/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %}

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted">&copy; 2025 Created by: Miquel Àngel Montero Pazmiño</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
    
    <script src="{% static 'JS/BASIC/global.js' %}"></script>
    <script src="{% static 'JS/BASIC/goBack.js' %}"></script>
    <script src="{% static 'JS/BASIC/fetchOperations.js' %}"></script>
    <script src="{% static 'JS/BASIC/init.js' %}"></script>

    <script src="{% static 'JS/FORMS_BEHAVIOUR/FormEventManagement.js' '%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/getFileName.js'%}"></script>
    <script src="{% static 'JS/FORMS_BEHAVIOUR/isLastChanges.js' '%}"></script>

    <script src="{% static 'JS/LS/RecoverFieldsData.js' '%}"></script>
    <script src="{% static 'JS/LS/LocalStoreData.js' '%}"></script>

    <script src="{% static 'JS/PROFILE/loadProfileData.js' '%}"></script>

    <script src="{% static 'JS/SUMMARY/LoadSummary.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateNavItems.js' %}"></script>
    <script src="{% static 'JS/SUMMARY/GenerateSummaryRow.js' %}"></script>
  
    <script src="{% static 'JS/SVG/AddStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/configureSVG.js' '%}"></script>
    <script src="{% static 'JS/SVG/RemoveStep.js' '%}"></script>
    <script src="{% static 'JS/SVG/UpdateColor.js' '%}"></script>
    <script src="{% static 'JS/SVG/DeleteSteps.js' '%}"></script>
  
    <script src="{% static 'JS/UPDATE_FORM/getKomaForms.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/LoadNextForm.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/changeCardBG.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/detectKomaChanges.js' '%}"></script>
    <script src="{% static 'JS/UPDATE_FORM/getSelectItems.js' %}"></script>

  </body>
</html>