{% extends "master.html" %}
{% block title %}
    HaloFile Experiments Forms 
{% endblock %}

{% block content %}
<header class="border-3 border-secondary-subtle bg-info bg-opacity-10">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="/static/icon.png" width="10%" height="10%" style="min-width: 90px;">
        <h1>
            HaloPhile LogIn
        </h1>
        <nav>
            <a href="{% url 'main' %}" class="btn btn-outline-success">Go Back</a>
        </nav>
    </div>
    
</header>
<main>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col">
                    <img src="/static/icon.png">
                </div>
                <div class="col align-items-center">
                    <div class="card-body ">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row p-3">
                                <div class="col">
                                    <label for="username" class="col-form-label">Username:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="username" required>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col">
                                    <label for="password" class="col-form-label">Contraseña:</label>
                                </div>
                                <div class="col">
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary m-3">Iniciar Sesión</button>
                            </div>
                            
                        </form>
                        </div>
                </div>
            </div>
                
        </div>
    </div>    
</main>
{% endblock %}
