{% extends "master.html" %}
{% load static %}
{% block title %}
    HaloFile Log In 
{% endblock %}

{% block content %}
<header class="border-3 border-secondary-subtle bg-info bg-opacity-10">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="{% static 'src/img/icon.png' %}" class="p-2" style="width: 10vw;height: 20vh;">
        <h1>
            HaloPhile LogIn
        </h1>
        <nav>
            <a href="{% url 'main' %}" class="btn btn-outline-success">Go Back</a>
        </nav>
    </div>
    
</header>
<main>
    <section class="container d-flex justify-content-center align-items-center p-3" style="width: 50vw;">
            <div>
                <img src="{% static 'src/img/icon.png' %}" style="width: 100%; height: 80%;">
            </div>
            <div class="card-body ">
                                    <!-- Mensaje de error si hay uno -->
                {% if messages %}
                <div class="alert alert-danger mt-3" role="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form id="loginForm" method="POST">
                    {% csrf_token %}
                    <div class="row p-3">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" required>
                        </div>
                    
                    <div class="row p-3">
                        <label for="password" class="col-form-label">Contraseña:</label>    
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="container d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary m-3">Log In</button>
                    </div>   
                </form>
            </div>
    </section>
    <div class="container d-flex justify-content-center flex-column align-items-center">
        <p>New in HalopHile? <a href="{% url 'register' %}">Sign Up</a></p>
        <p>Can't remember your password? <a href="#">Reset Password</a></p>
    </div>
 
</main>
{% endblock %}
