{% extends "master.html" %}
{% load static %}
{% block title %}
    HaloFile Log In 
{% endblock %}

{% block content %}
<main class="d-flex align-items-center justify-content-center" style="min-height: 85dvh;">
    <section class="d-flex flex-column align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">
                <h2>Login Screen</h2>
            </div>
            <div class="card-body">
            <!-- Mensaje de error si hay uno -->
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger mt-3" role="alert">
                    <p>{{ message }}</p>
                    </div>
                {% endfor %}
                {% endif %}
                <form id="loginForm" method="POST" class="container d-col align-items-center justify-content-center" style="border-radius: 1rem;">
                    {% csrf_token %}
                    <div class="row p-2">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" required autocomplete="email">
                        </div>
                    
                    <div class="row p-2">
                        <label for="password" class="col-form-label">Contraseña:</label>    
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="row p-2 mt-3">
                        <button type="submit" class="btn btn-success">Log In</button>
                    </div>   
                </form>
            </div>
            <div class="card-footer">
                <p>New in HalopHile? <a href="{% url 'register' %}" class="btn btn-info">Sign Up</a></p>
            </div>
        </div>

    </section>

 
</main>
{% endblock %}
