{% extends "master.html" %}
{% load static %} 
{% block title %} HaloFile WebApp {% endblock %} 
{% block content %}
  <main id="register" style="height: 100dvh;">
    <section class="d-flex h-100 justify-content-center align-items-center justify-content-center">
      <div id="registerFormCard" class="card h-75 mb-5 p-3" style="background: none; border: none;">
        <div class="container d-flex align-items-center justify-content-center card-title w-50" id="registerCardTtl">
          <h3 class="w-75 text-center">Register</h2>
        </div>
        <div class="container d-flex justify-content-center card-body" style="background: none;">
          {% if messages %}
          <div class="alert alert-{{ message.tags }} mt-3" role="alert">
              {% for message in messages %}
                  <p>{{ message }}</p>
              {% endfor %}
          </div>
          {% endif %}
          
          <form id="registerForm" class="row row-cols-md-1 w-25 p-2" method="POST">
            {% csrf_token %}
            <div class="col">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="col">
              <label for="surname" class="form-label">Surname</label>
              <input type="text" class="form-control" id="surname" name="surname">
            </div>

            <div class="col">
              <label for="email" class="form-label">Email address *</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required autocomplete="email">
            </div>
            
            <div class="col">
              <label for="password" class="form-label">Password *</label>
              <input type="password" class="form-control" id="password" name="password"
              data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Your password must have 8 characters, 1 digit & 1 capital letter"
              required autocomplete="new-password">
            </div>

            <div class="col-9">
              <label for="confirmPassword" class="form-label">Confirm Password *</label>
              <input type="password" class="form-control" id="confirmPassword" name="password" required autocomplete="new-password">
            </div>
              <div class="container col d-flex justify-content-center mt-3" style="background: none;">
                <input type="submit" class="btn btn-success w-100" value="Confirm">
              </div>
              

          </form>
        </div>
      </div> 
    </section>  
</main>
{% endblock %} 