<!DOCTYPE html>
<html>
  <body>
    <svg width="100" height="120">
      <circle
        cx="50"
        cy="50"
        r="40"
        stroke="grey"
        stroke-width="4"
        fill="grey"
        fill-opacity="70%"
      />
      <text fill="#000000" font-size="45" font-family="Verdana" x="35" y="65">
        1
      </text>
      <text fill="#000000" font-size="13" font-family="Verdana" x="20" y="110">
        Completed
      </text>
      Sorry, your browser does not support inline SVG.
    </svg>
    <svg width="100" height="120">
      <circle
        cx="50"
        cy="50"
        r="40"
        stroke="green"
        stroke-width="4"
        fill="green"
        fill-opacity="20%"
      />
      <text fill="#000000" font-size="45" font-family="Verdana" x="35" y="65">
        2
      </text>
      <text fill="#000000" font-size="13" font-family="Verdana" x="30" y="110">
        Active
      </text>
      Sorry, your browser does not support inline SVG.
    </svg>
    <svg width="100" height="120">
      <circle
        cx="50"
        cy="50"
        r="40"
        stroke="black"
        stroke-width="4"
        fill="white"
      />
      <text fill="#000000" font-size="45" font-family="Verdana" x="35" y="65">
        3
      </text>
      <text fill="#000000" font-size="13" font-family="Verdana" x="30" y="110">
        To Do
      </text>
      Sorry, your browser does not support inline SVG.
    </svg>
  </body>
</html>
